header {
  height: 60px;
  line-height: 60px;
  background: $black;
  div.wrapper {
    display: flex;
    justify-content: space-between;
    h1 {
      display: inline-block;
      margin-right: 20px;
    }
    a {
      background: $bg;
      color: $black;
      margin-top: 1.25rem;
      @media only screen and (max-width: 520px) {
        display: none;
      }
    }
  }
}
