main {
  padding: 2rem;
  background: $bg;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 13px 0px;
  display: block;
  @media only screen and (max-width: 600px) {
    box-shadow:none;
  }
  .generatedNames {
    margin: 0 auto;
    border: solid 1px $secondary;
    padding: 2rem;
    min-height: 28rem;
    ul {
      text-align: center;
      margin-top: 1rem;
      li:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
}
form {
  padding: 2rem;
  fieldset {
    margin-bottom: 1rem;
  }
  legend {
    margin-bottom: 1rem;
  }
  input[type='radio'] {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    &:checked + label,
    &:not(:checked) + label {
      position: relative;
      padding-left: 2.4rem;
      cursor: pointer;
      display: inline-block;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $secondary;
        border-radius: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0.3rem;
        top: 0.3rem;
        width: 1.1rem;
        height: 1.1rem;
        background: $black;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }
    &:not(:checked) + label::after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:focus + label {
      text-shadow: 1px 0 0 $black;
      &:before {
        border-color: $black;
      }
    }
  }
  label {
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  button {
    cursor: pointer;
    background: $black;
    display: block;
  }
}
