main {
  padding: 20px;
  background: $black;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 13px 0px;
  margin-top: 20px;
  .generatedNames {
    margin: 0 auto;
    border: solid 1px $primary;
    padding: 20px;
    ul {
      text-align: center;
      li:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
  button {
    margin-top: 20px;
    cursor: pointer;
  }
}
