html {
  font-size: 62.5%;
}

body {
  font-family: $bodyText;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: $headersText;
}

h1 {
  font-size: 2.2rem;
  color: $white;
}

h2 {
  font-size: 1.8rem;
  @include headerLine;
}

p {
  margin-bottom: 20px;
line-height: 1.5;
}
a {
  color: $black;
  &:focus {
    text-shadow: 1px 0 0 $black;
    outline: 0;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
