header {
  height: 6rem;
  line-height: 6rem;
  background: $black;
  div.wrapper {
    display: flex;
    justify-content: space-between;
    h1 {
      display: inline-block;
      margin-right: 2rem;
      @media only screen and (max-width: 570px) {
        width: 100%;
        text-align: center;
      }
    }
    a {
      background: $focus;
      color: #000;
      margin-top: 1.25rem;
      &:hover,
      &:focus {
        background: $bg;
        color: $black;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        outline: none;
      }
      @media only screen and (max-width: 570px) {
        display: none;
      }
    }
  }
}
