// COLOURS
$bg: #dfdfdf;
$black: #202020;
$white: #fff;
$secondary: #b5b5b5;
$focus: #86aab8;

// TYPOGRAPHY
$headersText: Georgia, 'Times New Roman', Times, serif;
$bodyText: 'Roboto', sans-serif;

// STYLES
@mixin headerLine {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    width: 3.6rem;
    border-bottom: solid 1px $secondary;
  }
}
