@import './styles/meyerReset.scss';

body {
  background: pink;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;

    h1, div {
      margin: 20px 0;
      width: 100%;
    }
  }
}
